# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
codecov
flake8
pytest
pytest-aiohttp
pytest-cov

# plugin dependencies
happi
python-ldap
pytmc
