# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
codecov
coverage
flake8
pytest
pytest-aiohttp

# docs-related dependencies:
mkdocs
mkdocs-autorefs
mkdocs-material
mkdocstrings
pytkdocs[numpy-style]

# plugin dependencies
happi
python-ldap
pytmc
