recursive-include src/whatrecord/server/static *
recursive-include src/whatrecord/server/html *
recursive-include src/whatrecord/grammar *.lark
include versioneer.py
include src/whatrecord/_version.py
