include LICENSE.md
include README.rst
include dev-requirements.txt
include pyproject.toml
include requirements.txt
include versioneer.py

recursive-include src/_whatrecord *.pyx
recursive-include whatrecord/grammar *.lark
recursive-include whatrecord/tests *.db *.cmd *.dbd *.proto *.pvlist *.acf t1-*.txt
recursive-include whatrecord/tests *.substitutions *.substitutions.expanded
