.code {
    background: whitesmoke;
    border: 1px solid lightgray;
    border-left: 3px solid lightcoral;
    color: black;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.0;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 15px;
    display: block;
    word-wrap: break-word;
}

table {
    font-family: monospace;
}

html, body, .top-grid {
  height: 100%;
  padding: 1px;
}

.top-grid {
  display: grid;
  grid-template-columns: 2fr 100% 1fr;
  grid-template-rows: 1fr;
}

.svg-graph {
  max-width: 70%;
}

.script-line {
  color: black;
}

.script-error-line {
  color: red;
}

.error-block {
  background: lightred;
  border: 1px solid lightgray;
  border-left: 3px solid lightcoral;
  color: black;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.0;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 15px;
  display: block;
  word-wrap: break-word;
}

.result-block {
  background: #eeeeee;
  border: 1px solid lightgray;
  border-left: 3px solid lightgray;
  color: black;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.0;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 15px;
  display: block;
  word-wrap: break-word;
}

summary {
  display: flex;
}
summary .title {
  flex-grow: 1;
}

.title, .bsect {
   width: calc(100% - 1.04em);
   float: right;
}
details {
  overflow: hidden;
}

.context {
  margin-left: 1px;
}
