site_name: whatrecord
site_author: SLAC National Accelerator Laboratory
copyright: (C) 2021 SLAC National Accelerator Laboratory

theme:
  name: "material"
  icon:
    logo: material/currency-sign
  features:
  - navigation.tabs
  - navigation.top
  - toc.integrate
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: lightblue
    accent: purple
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: lime
    toggle:
      icon: material/weather-night
      name: Switch to light mode

extra_css:
- css/mkdocstrings.css

plugins:
- autorefs
- search
- mkdocstrings:
    handlers:
      python:
        python:
          paths: [..]
        options:
          docstring_style: numpy
          docstring_options:
            ignore_init_summary: no
          heading_level: 3
          show_root_heading: yes
          show_root_toc_entry: yes
          show_root_full_path: yes
          show_root_members_full_path: no
          show_object_full_path: yes
          show_category_heading: yes
          show_if_no_docstring: no
          show_signature: yes
          show_signature_annotations: yes
          separate_signature: no
          line_length: 80,
          merge_init_into_class: yes
          show_source: yes
          show_bases: yes
          show_submodules: no
          group_by_category: yes
          import:
            - https://docs.python.org/3/objects.inv
            - https://lark-parser.readthedocs.io/en/latest/objects.inv

nav:
  - 'index.md'
  - 'parsers.md'
  - 'cli.md'
  - 'server_client.md'
  - 'plugins.md'
  - 'utilities.md'
  - 'iocsh.md'
  - 'lcls.md'
  - 'tests.md'
